/*---css reset---*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Coolors Exported Palette - coolors.co/000000-004fff-31afd4-902d41-ff007f */
/* RGB */
/* $color1: rgba(0, 0, 0, 1); black */
/* $color6: rgba(46,46,46,1); grey */
/* $color2: rgba(0, 79, 255, 1); royal blue */
/* $color3: rgba(49, 175, 212, 1); light blue*/
/* $color4: rgba(144, 45, 65, 1); wine */
/* $color5: rgba(255, 0, 127, 1); pink */
/* $color7: rgba(255,255,255,1) white */

/*---fonts---*/
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/*---HTML---*/


/*---header---*/
.top-container {
  background-color: rgb(255, 0, 127, 1);
  color: yellow;
  padding: 30px;
  text-align: center;
}

#header {
  padding: 100px 16px;
  background-color: rgba(0, 79, 255, 1);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}

/*---main---*/
main {
  background-color: rgba(46,46,46,1);
  color: rgba(247, 94, 122,1);
  border: white solid .3rem;
 
}

/*---footer---*/